:root {
  margin: 2em 1em 2em 1em;
}

/* make tablecloth background */
body {
  background: white;
  background-image: linear-gradient(90deg, rgba(200,0,0, .40) 50%, transparent 0),
  linear-gradient(rgba(200,0,0,.40) 50%, transparent 0);
  background-size: 80px 80px;
}

/* overwrite auto p setting for react bootstrap modal */
p {
  margin: 0 !important;
}

/* make the plate */
.plate {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  height: 650px;
  background-image: url("/img/cutlery.svg");
}

/* place nibblr logo */
@font-face {
  font-family: NoodleShade;
  src: url("./font/nooshade.ttf");
}

#logo {
  font-family: NoodleShade;
  font-size: 90px;
  color: rgba(0,0,0,.75);
  margin: auto;
  position: absolute;
}

#load > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
  height: 85%;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.card img {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 400px
}

.master-root {
  position: absolute;
  height: 400px;
  width: 400px;
  margin: -200px 0 0 -200px;
  top: 50%;
  left: 50%;
}

.card {
  position: absolute;
  height: 370px;
  width: 370px;
  margin: 0 auto;
  transition: box-shadow .3s;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  cursor: pointer;
  border-radius: 400px
}

.animate {
  transition: transform .3s;
  box-shadow: none;
}

.inactive {
  box-shadow: none;
}

.alert {
  width: 80px;
  position: absolute;
  z-index: 9999;
  opacity: 0;
  transition: opacity .5s;
  color: white;
  vertical-align: middle;
  line-height: 1rem;
}

.alert-visible {
  opacity: .8;
}

.alert-base, .alert-right, .alert-left {
  height: 100px;
  width: 100px;
  margin: 15px;
  padding: 8px 5px 5px 5px;
  top: 0;
  border-radius: 100%;
}

.icon {
  height: 80px;
  width: 80px;
}

.alert-right {
  right: 2vw;
}

.alert-left {
  left: 2vw;
}

.middle {
  margin-top: 200px;
  font-size: 60px
}

.shiver:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
10%, 90% {
  transform: translate3d(-1px, 0, 0);
}

20%, 80% {
  transform: translate3d(2px, 0, 0);
}

30%, 50%, 70% {
  transform: translate3d(-4px, 0, 0);
}

40%, 60% {
  transform: translate3d(4px, 0, 0);
}
}

#selections {
height: 100px;
float: right;
}

#getCards {
height: 100px
}

.container {
display: flex;
justify-content: space-between;
}

.container-logo {
  display: flex;
  justify-content: center;
}

#chatbox {
  background-color: white;
  border-radius: 20px;
  margin-top: -100px;
  width: 50em;
}
